code {
  font-family: Consolas, "courier new";
  color: black;
  padding: 2px;
}

.hljs {
  background: none;
}

.category {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.25rem;
}

.code-block {
  border: 1px solid gray;
  width: 90%;
}

.api-table {
  border: 1px solid gray;
  width: 90%;
}

.api-table .table-caption {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid gray;
}

.api-table td {
  padding: 5px;
  text-align: center;
}

.api-table td:nth-child(2) {
  font-family: Consolas, "courier new";
}
