code {
  font-family: Consolas, "courier new";
  color: black;
  padding: 2px;
}

.hljs {
  background: none;
}

.category {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.25rem;
}

.code-block {
  border: 1px solid gray;
  width: 90%;
}
