#manifesto {
  text-align: justify;
  padding-top: 1rem;
}

#demo {
  text-align: center;
}

#demo__list {
  padding: 0;
  margin: 0;
}

.long-text {
  height: 75vh;
  overflow-y: scroll;
  outline: 1px solid gray;
  width: fit-content;
}

.long-text p {
  text-align: justify;
  padding: 0rem 1rem;
}

.growing-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#growing-table td {
  padding: 0.5rem;
  text-align: center;
}
