body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 5vw;
  background-color: #fdf5e8;

  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  max-width: 75ch;
}

#manifesto {
  text-align: justify;
  padding-top: 1rem;
}

#demo {
  text-align: center;
}

#demo__list {
  padding: 0;
  margin: 0;
}

a:visited {
  color: unset;
}

.button {
  height: 1rem;
  margin: 0.5rem;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  border: 1px solid gray;
  text-decoration: none;
  color: none;
  text-align: center;
}

.button:hover {
  background-color: lightgray;
}

.heading {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}

.subheading {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.25rem;
  font-style: italic;
}

.use-case {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.25rem;
}

.long-text {
  height: 75vh;
  overflow-y: scroll;
  outline: 1px solid gray;
  width: fit-content;
}

.long-text p {
  text-align: justify;
  padding: 0rem 1rem;
}

.growing-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#growing-table td {
  padding: 0.5rem;
  text-align: center;
}
